@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: rgb(224, 222, 222);
    display: flex;
    justify-content: center;
}

body {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}